In [1]:
import pandas as pd
import numpy as np


#### Question 1
What's the version of NumPy that you installed?

In [2]:
np.__version__

'1.23.3'

In [3]:
#pip install wget
#!python -m wget https://raw.githubusercontent.com/alexeygrigorev/mlbookcamp-code/master/chapter-02-car-price/data.csv

In [4]:
car_price_df = pd.read_csv('./data.csv')

#### Question 2
How many records are in the dataset?

In [5]:
car_price_df.shape[0]

11914

#### Question 3
Who are the most frequent car manufacturers (top-3) according to the dataset?

In [6]:
car_price_df['Make'].value_counts().head(3)

Chevrolet     1123
Ford           881
Volkswagen     809
Name: Make, dtype: int64

#### Question 4
What's the number of unique Audi car models in the dataset?

In [7]:
car_price_df[car_price_df['Make']=='Audi']['Model'].nunique()

34

#### Question 5
How many columns in the dataset have missing values?

In [8]:
car_price_df.isna().sum()

Make                    0
Model                   0
Year                    0
Engine Fuel Type        3
Engine HP              69
Engine Cylinders       30
Transmission Type       0
Driven_Wheels           0
Number of Doors         6
Market Category      3742
Vehicle Size            0
Vehicle Style           0
highway MPG             0
city mpg                0
Popularity              0
MSRP                    0
dtype: int64

#### Question 6
1. Find the median value of "Engine Cylinders" column in the dataset.
2. Next, calculate the most frequent value of the same "Engine Cylinders".
3. Use the fillna method to fill the missing values in "Engine Cylinders" with the most frequent value from the previous step.
4. Now, calculate the median value of "Engine Cylinders" once again.

Has it changed?

In [9]:
car_price_df['Engine Cylinders'].median()

6.0

In [10]:
replace_with = car_price_df['Engine Cylinders'].mode()

In [11]:
car_price_df.fillna(value = {'Engine Cylinders':replace_with}, inplace=True)

In [12]:
car_price_df['Engine Cylinders'].median()

6.0

#### Question 7
1. Select all the "Lotus" cars from the dataset.
2. Select only columns "Engine HP", "Engine Cylinders".
3. Now drop all duplicated rows using drop_duplicates method (you should get a dataframe with 9 rows).
4. Get the underlying NumPy array. Let's call it X.
5. Compute matrix-matrix multiplication between the transpose of X and X. To get the transpose, use X.T. Let's call the result XTX.
6. Invert XTX.
7. Create an array y with values [1100, 800, 750, 850, 1300, 1000, 1000, 1300, 800].
8. Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w.
9. What's the value of the first element of w?

In [13]:
deduplicated_lotus_cars = car_price_df[car_price_df['Make']=='Lotus'][["Engine HP", "Engine Cylinders"]].drop_duplicates()

In [14]:
X = np.array(deduplicated_lotus_cars)

In [15]:
XTX = X.T.dot(X)

In [16]:
XTX_inverse = np.linalg.inv(XTX)

In [17]:
y = np.array( [1100, 800, 750, 850, 1300, 1000, 1000, 1300, 800])

In [18]:
w = XTX_inverse.dot(X.T).dot(y)

In [19]:
w

array([  4.59494481, -63.56432501])

In [20]:
XTX

array([[7.31684e+05, 1.34100e+04],
       [1.34100e+04, 2.52000e+02]])

In [21]:
X

array([[189.,   4.],
       [218.,   4.],
       [217.,   4.],
       [350.,   8.],
       [400.,   6.],
       [276.,   6.],
       [345.,   6.],
       [257.,   4.],
       [240.,   4.]])